<!--Content Section-->
<div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


      <!--Content Left Side-->
      <div class="col-3">
          <!--User Testimonial-->
          <blockquote class="testimonial text-right bigtest">
              <q>  {{ service.breafly}}</q>
              <footer>{{ service.breafFter}}</footer>
          </blockquote>
          <!-- End of Testimonial-->

      </div>
      <!--End Content Left Side-->

      <!--Content of the Right Side-->
      <div class="col-3">
          <div class="section-heading">
              <h3>{{ service.sectHead}}</h3>
              <h2 class="section-title">{{ service.sec2Head}}</h2>
              <p class="section-subtitle">{{ service.info}}</p>
          </div>
          <p>{{ service.info2}}
          </p>
          <p>
            {{ service.info3}}
          </p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
              WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </a>
      </div>
      <!--End Content Right Side-->

      <div class="col-3">
          <img src= "{{ service.img }} "alt="Dancer"/>
      </div>

  </div>


</div>
<!--End of Content Section-->